<% %w{ ffcc00 ccff00 00ccff ff6600 cc6666 ff0066 006666 0099cc 666600 cc00cc }.each do |hex| %>
  <div style="background: #<%= hex %>; color: <%= contrast_color(hex) %>; display: inline-block; padding: 30px; margin-right: 4px;">
    <strong>Test</strong>
  </div>
<% end %>
